<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.wenmeng.dao.UinfoMapper">
  <resultMap id="BaseResultMap" type="online.wenmeng.bean.Uinfo">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="qqnum" jdbcType="VARCHAR" property="qqnum" />
    <result column="wxnum" jdbcType="VARCHAR" property="wxnum" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="wallet" jdbcType="DOUBLE" property="wallet" />
    <result column="credibility" jdbcType="INTEGER" property="credibility" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userid, qqnum, wxnum, phone, email, realname, age, nickname, gender, signature, wallet, 
    credibility
  </sql>
  <select id="selectByExample" parameterType="online.wenmeng.bean.UinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from uinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uinfo
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uinfo
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="online.wenmeng.bean.UinfoExample">
    delete from uinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="online.wenmeng.bean.Uinfo">
    insert into uinfo (userid, qqnum, wxnum, 
      phone, email, realname, 
      age, nickname, gender, 
      signature, wallet, credibility
      )
    values (#{userid,jdbcType=INTEGER}, #{qqnum,jdbcType=VARCHAR}, #{wxnum,jdbcType=VARCHAR}, 
      #{phone,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{signature,jdbcType=VARCHAR}, #{wallet,jdbcType=DOUBLE}, #{credibility,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="online.wenmeng.bean.Uinfo">
    insert into uinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="qqnum != null">
        qqnum,
      </if>
      <if test="wxnum != null">
        wxnum,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="wallet != null">
        wallet,
      </if>
      <if test="credibility != null">
        credibility,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="qqnum != null">
        #{qqnum,jdbcType=VARCHAR},
      </if>
      <if test="wxnum != null">
        #{wxnum,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="wallet != null">
        #{wallet,jdbcType=DOUBLE},
      </if>
      <if test="credibility != null">
        #{credibility,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="online.wenmeng.bean.UinfoExample" resultType="java.lang.Long">
    select count(*) from uinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update uinfo
    <set>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.qqnum != null">
        qqnum = #{record.qqnum,jdbcType=VARCHAR},
      </if>
      <if test="record.wxnum != null">
        wxnum = #{record.wxnum,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=BIGINT},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null">
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=INTEGER},
      </if>
      <if test="record.signature != null">
        signature = #{record.signature,jdbcType=VARCHAR},
      </if>
      <if test="record.wallet != null">
        wallet = #{record.wallet,jdbcType=DOUBLE},
      </if>
      <if test="record.credibility != null">
        credibility = #{record.credibility,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update uinfo
    set userid = #{record.userid,jdbcType=INTEGER},
      qqnum = #{record.qqnum,jdbcType=VARCHAR},
      wxnum = #{record.wxnum,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=BIGINT},
      email = #{record.email,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=INTEGER},
      signature = #{record.signature,jdbcType=VARCHAR},
      wallet = #{record.wallet,jdbcType=DOUBLE},
      credibility = #{record.credibility,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="online.wenmeng.bean.Uinfo">
    update uinfo
    <set>
      <if test="qqnum != null">
        qqnum = #{qqnum,jdbcType=VARCHAR},
      </if>
      <if test="wxnum != null">
        wxnum = #{wxnum,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="wallet != null">
        wallet = #{wallet,jdbcType=DOUBLE},
      </if>
      <if test="credibility != null">
        credibility = #{credibility,jdbcType=INTEGER},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.wenmeng.bean.Uinfo">
    update uinfo
    set qqnum = #{qqnum,jdbcType=VARCHAR},
      wxnum = #{wxnum,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      signature = #{signature,jdbcType=VARCHAR},
      wallet = #{wallet,jdbcType=DOUBLE},
      credibility = #{credibility,jdbcType=INTEGER}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>